@import "mixins";
.mpeditor {
  position: relative;
  overflow-y: hidden;
  @include clearfix();
  .mpe-col {
    width: 50%;
    height: 100%;
  }
  .mpe {
    $nav-height: 40px;

    &_fl {
      float: left;
    }
    &_fr {
      float: right;
    }
    &-toast{
      position: fixed;
      z-index: 5000;
      width: 100px;
      height: 100px;
      top: 40%;
      left: 50%;
      margin-left: -50px;
      background: rgba(17, 17, 17, 0.7);
      text-align: center;
      border-radius: 5px;
      color: #fff;
      display: none;
      svg {
        margin-top: 10px;
        color: #fff;
        width: 50px;
        margin-bottom: 10px;

      }
      p{
        margin: 0 0 15px;
      }
    }
    &-wrap{
      // margin-top: $nav-height;
      @include clearfix();
    }
    // 导航条
    &-nav{
      &-wrap{
        height: $nav-height;
        top: 0;
        left: 0;
        width: 100%;
        padding: 0;
        border: 0;
        border-top: 1px solid rgba(128,128,128,0.1);
        border-bottom: 1px solid rgba(128,128,128,0.1);
        border-radius: 0;
        z-index: 20;
        background-color: #222;
        // box-shadow:0 1px 3px rgba(0, 0, 0, 0.065);
        @include clearfix();
      }
      &-tools{
        list-style-type: none;
      }
      &-text{
        color:#fff;
        padding: 8px 11px;
        span{
          line-height: 24px;
        }
      }
      &-select{
        width: 200px;
        padding-right: 16px;
        select{
          border: 0;
          outline: 0;
          background-color: transparent;
          width: 100%;
          font-size: inherit;
          height: 24px;
          line-height: 24px;
          position: relative;
          z-index: 1;
          padding-left: 15px;
          margin-top: 8px;
          padding: 0px 8px;
          display: table-cell;
          background: #eee;
          border: 0;
          border-radius: 2px;
        }
      }
      &-item{
        float:left;
        a{
          height:24px;
          width: 24px;
          display: block;
          padding: 8px 11px;
          font-weight: 600;
          line-height: 20px;
          color: #fff;
          position: relative;
        }

      }
    }

    $editor-font-size: 16px;
    $editor-line-height: 26px;
    // editor
    &-editor {
      width: 100%;
      height: 100%;
      font-size: $editor-font-size;
      line-height: $editor-line-height;

      &-wrap {
        // padding: 0 20px 0 0;
      }
    }
    // preview
    &-preview {
      overflow: auto;
      padding-left: 20px;
      padding-right: 20px;
      position: relative;
      border: none;
      font-size: $editor-font-size;
      line-height: $editor-line-height;
      &::selection {
        background: #fde6ba;
        color: #000;
      }
      &-wrap {
        // padding: 0 0 0 20px;
      }
    }
    //滚动条
    &-col::-webkit-scrollbar {
      width: 9px
    }
    &-col::-webkit-scrollbar-track {
      background: rgba(102, 128, 153, .1)
    }
    &-col::-webkit-scrollbar-thumb:hover {
      background: rgba(102, 128, 153, .5)
    }
    &-col::-webkit-scrollbar-thumb {
      background: rgba(102, 128, 153, .2)
    }
    &-col::-webkit-scrollbar-thumb:window-inactive,
    &-col::-webkit-scrollbar-thumb:window-inactive {
      background: rgba(102, 128, 153, .1)
    }
  }

  .mpe-tooltip {
    position: absolute;
    z-index: 999;
    display: block;
    font-size: 12px;
    word-wrap: break-word;
    opacity: 0;

    $tooltip-arrow-width: 5px;
    $tooltip-margin: 0;
    $tooltip-arrow-color: #3CC51F;

    &_top{
      padding: $tooltip-arrow-width 0;
      margin-top: $tooltip-margin;

      .mpe-tooltip-inner::before {
        bottom: 0;
        left: 50%;
        margin-left: -$tooltip-arrow-width;
        content: "";
        border-width: $tooltip-arrow-width $tooltip-arrow-width 0;
        border-top-color: $tooltip-arrow-color;
      }
    }
    &_right {
      padding: 0 $tooltip-arrow-width;
      margin-left: $tooltip-margin;

      .mpe-tooltip-inner::before {
        top: 50%;
        left: 0;
        margin-top: -$tooltip-arrow-width;
        content: "";
        border-width: $tooltip-arrow-width $tooltip-arrow-width $tooltip-arrow-width 0;
        border-right-color: $tooltip-arrow-color;
      }
    }
    &_bottom {
      padding: $tooltip-arrow-width 0;
      margin-top: $tooltip-margin;

      .mpe-tooltip-inner::before {
        top: 0;
        left: 50%;
        margin-left: -$tooltip-arrow-width;
        content: "";
        border-width: 0 $tooltip-arrow-width $tooltip-arrow-width;
        border-bottom-color: $tooltip-arrow-color;
      }
    }
    &_left{
      padding: 0 $tooltip-arrow-width;
      margin-left: -$tooltip-margin;

      .mpe-tooltip-inner::before {
        top: 50%;
        right: 0;
        margin-top: -$tooltip-arrow-width;
        content: "";
        border-width: $tooltip-arrow-width 0 $tooltip-arrow-width $tooltip-arrow-width;
        border-left-color: $tooltip-arrow-color;
      }
    }

     // Wrapper for the tooltip content
    &-inner {
      max-width: 200px;
      padding: 3px 8px;;
      color: #fff;
      text-align: center;
      background-color: $tooltip-arrow-color;
      border-radius:3px;

      &::before {
        position: absolute;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
      }
    }
  }


}
